{% extends 'base-layout.html' %}

{% block header %}
 
<div class="col-4">
  <h1>{% block title %} HOME page{% endblock %}</h1>
</div>

{% endblock %}

{% block content %}

    <div class="jumbotron text-center">
    <h1>Danh sách nhân viên</h1>
    </div>

<table class="table">
    <thead>
    <tr>
        <th width="100">Họ tên</th>
        <th width="70">Ngày trực</th>
        <th width="100">Ca trực</th>
    </tr>
    </thead>

    {% for profile in  profile %}
    <tr>
        <th width="100"><P>{{ profile["name"] }} </P></th>
        <th width="70"><P>{{ profile["date"] }} </P></th>
        <th width="100"><P>{{ profile["shift"] }} </P></th>
    </tr>
    {% endfor %}



</table>

{% endblock %}
